.modal {
    display: flex;
    position: fixed;
    background-color: #fff;
    border: 2px solid #222;
    top: 40%;
    left: 0;
}

.hiden {
    display: none;
}

button {
    padding: 1rem 2rem;
    margin: 1rem; 
}